@import "node_modules/bootstrap/scss/bootstrap";

@import "reset";
@import "navbar";

$header-height: 56px;

$color-main: #333;

.initial-header {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: #fff;
    padding: 1em 0.5em;

    .initial-header-bar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .initial-header-wrapper {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 10px;
    }

    .initial-header-text {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        line-height: inherit;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 1.3em;
    }
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-main;
    z-index: 100;
    padding: 1em 0.5em;
    transition: opacity 0.3s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../images/MIYADSC_3425-3_TP_V.jpg");
    background-size: cover;
    background-position: center center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .hero-text {
        margin: 0;
        position: absolute;
        bottom: 0.5em;
        left: 1em;
        color: #ccc;
        font-size: 2em;
        text-transform: uppercase;
    }
}


.section {
    position: relative;
    padding: 150px 0;
    overflow: hidden;
    width: 100%;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 300px;
        height: 500px;
        background-color: #fff;
        transform: translate(-40%, -40%) rotate(45deg);

        @include media-breakpoint-down(sm) {
            transform: translate(-60%, -60%) rotate(45deg);            
        }
    }

    &::after {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        display: block;
        width: 300px;
        height: 500px;
        background-color: #fff;
        transform: translate(60%, 60%) rotate(45deg);

        @include media-breakpoint-down(sm) {
            transform: translate(70%, 70%) rotate(45deg);
        }
    }

    .head {
        position: relative;
        text-align: center;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        text-transform: uppercase;
    }
}



.strength-section {
    position: relative;
    background-color: $color-main;

    .head {
        color: #fff;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    &::before {
        background-color: #ccc;
    }

    &::after {
        background-color: #ccc;
    }
}

.strength-item {
    position: relative;
    padding: 2rem 3rem;
    width: calc(100% / 3);
    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    .title, .detail {
        margin: 0;
        color: #fff;
        text-align: center;
    }

    .title {
        font-size: 1.5rem;
    }

    .detail {
        padding-top: 1rem;
    }
}


.circle-wrapper {
    position: relative;
    width: 150px;
    margin: 50px auto 2rem auto;
}

.circle {
    width: 100%;
}

.circle-inside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    animation: rotate-infinitely 40s infinite linear;
}

.circle-number {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 5rem;
    line-height: 150px;
    text-align: center;
    color: #fff;
}

@keyframes rotate-infinitely {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.topics-section {
    background-color: #ccc;
    padding-bottom: 250px;

    .head {
        margin-bottom: 50px;
    }

    .topics-list {
        margin: 30px 3rem;
    }

    .topics-item {
        display: flex;
        justify-content: space-between;
        border-color: inherit;
        border-bottom: solid 1px;
        margin-bottom: 1rem;
    }

    .topics-date {
        text-align: center;
        width: 20%;
    }

    .topics-category {
        width: 20%;
    }

    .topics-desc {
        width: 60%;
    }

    &::before {
        background-color: $color-main;
    }

    &::after {
        display: none;
    }
}



.contact-section {
    position: relative;
    background-color: $color-main;
    font-size: 16px;

    .head {
        color: #fff;
    }

    .contact-form-wrapper {
        @include media-breakpoint-down(sm) {
            font-size: 10px;
        }
    }

    .contact-form {
        color: #fff;
        margin: 70px 0;
        padding: 0 200px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include media-breakpoint-down(sm) {
            padding: 0 30px;
            margin: 3em 0;
        }
    }

    .contact-name-title, .contact-email-title, .contact-text-title {
        width: 30%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5em;
    }

    .contact-name, .contact-email, .contact-text {
        width: 70%;
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 1em;

        @include media-breakpoint-down(sm) {
            padding: 0.5em;
        }
    }

    .contact-submit {
        display: block;
        width: 500px;
        padding: 0.5em;
        margin: 0 auto;
        font-size: 1.5em;
        background-color: #ccc;

        @include media-breakpoint-down(sm) {
            width: 80%;
        }
    }

    &::before {
        display: none;
    }
}

.conclusion-section {
    .conclusion-text {
        padding: 2rem 200px;
        text-align: center;

        @include media-breakpoint-down(sm) {
            padding: 2rem 30px;
        }
    }

    &::before {
        background-color: $color-main;
    }
}