body {
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", 和文フォント指定, sans-serif;
}

* {
    box-sizing: border-box;
}


.content {
    margin: 3rem 2rem;
}

.list {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
}

.list-item {
    margin-top: 2rem;
}

.list-title {
    display: inline-block;
    width: 100px;
}

.link {
    color: #000;
}

.link-white {
    color: #fff;
}



.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title {
    position: relative;
    font-family: 'Crimson Text', serif;
    width: 100%;
    line-height: 1;
    font-size: 100px;
    text-indent: 2rem;
    margin: 0;
    opacity: 0;
    top: 200px;
    animation: 1s 1s cutInTitle;
    animation-fill-mode: forwards;

    &::after {
        content: '';
        display: block;
        margin-bottom: -17px;
    }
}

.footer-content {
    position: relative;
    animation: 1s ease cutInFooter;
    color: #fff;
    display: block;
    height: 300px;
    background-color: #000;
    width: 100%;
}

.profile {
    width: 100%;    
    padding: 2rem;
    margin: 0;
    opacity: 0;
    position: relative;
    animation: 1s 2s cutInProfile;
    animation-fill-mode: forwards;
}

.profile-item {
    display: block;
    margin-top: 1rem;

    &:first-child {
        margin-top: 0;
    }
}

.profile-link {
    display: inline-block;
    text-indent: 1rem;

    &:first-child {
        text-indent: 0;
    }
}

.github-logo {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    img {
        width: 60px;
    }
}

@keyframes cutInFooter {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes cutInTitle {
    0% {
        opacity: 0;
        top: 200px;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes cutInProfile {
    0% {
        left: 20px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}